.sidebar a svg {
  color: #000 !important;
  fill: currentColor !important;
  opacity: 1 !important;
}
.sidebar a.active svg,
.sidebar a.subdrop svg {
  color: #000 !important;
}

/* Remove default bullets from all ul inside the sidebar */
.sidebar ul,
.sidebar-menu ul,
.sidebar-menu ul li,
.sidebar-menu ul li ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
.sidebar-menu ul li ul li {
  padding-left: 15px;
}
