name: Deploy Backend to VPS

on:
  push:
    branches:
      - main
    paths:
      - "backend/**" # Only run on backend changes

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/rocklimedev/dashboard-rocklime-backend:latest ./backend
          docker push ghcr.io/rocklimedev/dashboard-rocklime-backend:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 66.116.204.81
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/cmtrading-api
            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GHCR_TOKEN }}
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f
